@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add to your global CSS */
.gradient-text {
    background: linear-gradient(90deg, #3b82f6, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  /* Smooth scrolling */
  html {
    scroll-behavior: smooth;
  }